
# General
.DS_Store

# Environment-related
.env
**/.env
.env.keys

# Application-related
**/.temp/
**/build/
**/dist/
**/node_modules/

## React Router
**/.react-router/


# Library-related
**/library/
**/bundle/
**/bin/
