
# General
.DS_Store

# Environment-related
.env
**/.env
.env.keys
.tmp/
_opencode_workspace/
.tmp-home/
.tmp-opencode/

# Application-related
**/.temp/
**/build/
**/dist/
**/node_modules/

## React Router
**/.react-router/


# Library-related
**/library/
**/bundle/
**/bin/
.tmp*
